{% extends "base.html.twig" %}
{% block body %}
    {% if files %}
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                {% for file in files %}
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <div>
                                    <img class="card-img-top" src="{{ asset('images/stripes-light.png') }}" height="60", width="155"/>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Nom: {{ file.name }}</p>
                                    <p class="card-text">Taille: {{ (file.size/1000)|number_format(0) }} Mo</p>
                                    <p class="card-text">Dernière modification: {{ file.dateUpdate|date('d/m/Y') }}</p>
                                    <p class="card-text">Téléchargé {{ file.nbDownload }} fois</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="{{ path('app_download_file', { 'id': file.id }) }}"><button type="button" class="btn btn-sm btn-outline-success">Télécharger</button></a>
                                            <a href="{{ path('app_update_file', { 'id': file.id }) }}"><button type="button" class="btn btn-sm btn-outline-primary">Modifier</button></a>
                                            <a href="{{ path('app_delete_file', { 'id': file.id }) }}"><button type="button" class="btn btn-sm btn-outline-danger">Supprimer</button></a>
                                        </div>
                                        <small class="text-muted">Ajouté le {{ file.dateAdd|date('d/m/Y') }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="row justify-content-center">
            <div class="col=12 mt-3">
                <div class="jumbotron ">
                    <h1 class="display-4">Pas de fichier</h1>
                    <p class="lead">Pourquoi laisser l'espace vide alors que vous avez plein de place :)</p>
                    <hr class="my-4">
                    <p>Ajouter un ou plusieurs fichiers pour compléter votre espace</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="{{ path('app_upload') }}" role="button">Ajouter un fichier</a>
                    </p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}


