{% extends "base_admin.html.twig" %}
{% block body %}
    {{ form_start(form) }}
    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Ajouter une tâche</h1>
    {% include 'message.html.twig' %}
    <div class="row">
        <div class="col-md-4"></div>
        <div>Nom de la tâche</div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        {{ form_widget(form.name, { 'attr': {'class': 'form-control col-md-4','placeholder':'Nom de la tâche'} }) }}
    </div>
    <br>
    <div class="row">
        <div class="col-md-4"></div>
        <div>Description</div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        {{ form_widget(form.description, { 'attr': {'class': 'form-control col-md-4','placeholder':'Description'} }) }}
    </div>
    <br>
    <div class="row">
        <div class="col-md-4"></div>
        <div>Chemin
            {% if form_errors(form.path) %}
                ({{ form_errors(form.path) }})
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        {{ form_widget(form.path, { 'attr': {'class': 'form-control col-md-4','placeholder':'Ex: app_xxx_xxx'} }) }}
    </div>
    <br>
    <div class="row">
        <div class="col-md-4"></div>
        {{ form_widget(form.add, { 'attr': {'class': 'btn btn-lg btn-primary btn-block col-md-4'} }) }}
    </div>
    {{ form_end(form) }}
{% endblock %}