{% extends "base.html.twig" %}

{% block body %}
    {{ form_start(form) }}
    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Envoyer un message</h1>
    {% if success is defined %}
        <div class="row">
            <div class="col-md-4"></div>
            <div style="color: green">{{ success }}</div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-4"></div>
        <div>{{ form_errors(form.title) }}</div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        {{ form_widget(form.title, { 'attr': {'class': 'form-control col-md-4','placeholder':'Titre du message'}}) }}
    </div>
    <br>
    <div class="row">
        <div class="col-md-4"></div>
        {{ form_widget(form.message, { 'attr': {'class': 'form-control col-md-4','placeholder':'Contenu du message'} }) }}
    </div>
    <br>
    <div class="row">
        <div class="col-md-4"></div>
        {{ form_widget(form.send, { 'attr': {'class': 'btn btn-lg btn-primary btn-block col-md-4'} }) }}
    </div>
    {{ form_end(form) }}
{% endblock %}


