<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Clouedo{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    {% block head_css %}
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="{{ asset('css/navbar.css') }}">
        <link rel="stylesheet" href="{{ asset('css/clouedo.css') }}">
        <link rel="stylesheet" href="{{ asset('css/form.css') }}">
    {% endblock %}
    {% block head_js %}
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    {% endblock %}

</head>
<body>
{% block nav %}
    <div class="">
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-4">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('app_admin') }}">Clouedo</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-4">
                    <ul class="nav navbar-nav navbar-right">
                        {% if app.user %}
                            <li><a href="{{ path('app_admin_add_task') }}"><span class="glyphicon glyphicon-plus"></span> Ajouter</a></li>
                            <li><a href="{{ path('app_admin') }}"><span class="glyphicon glyphicon-wrench"></span> Configurer</a></li>
                            {% if app.user.roles[0] == "ROLE_ADMIN" %}
                                <li><a href="{{ path('app_space_show', { 'id': app.user.space.id }) }}"><span class="glyphicon glyphicon-user"></span> Espace</a></li>
                            {% endif %}
                            <li><a href="{{ path('app_admin_contact') }}"><span class="glyphicon glyphicon-send"></span> Contact</a></li>
                            <li>
                                <a href="{{ path('app_logout') }}" class="btn btn-default btn-outline btn-circle collapsed"  data-toggle="collapse" href="#nav-collapse4" aria-expanded="false" aria-controls="nav-collapse4"><span class="glyphicon glyphicon-off"></span> Déconnexion <i class=""></i> </a>
                            </li>
                        {% else %}
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('app_login') }}">Connexion <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="navbar-right" href="{{ path('app_signup') }}">Inscription <span class="sr-only">(current)</span></a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}
{% block body %}
{% endblock %}
{% block javascripts %}
{% endblock %}
</body>
</html>