{% extends "base.html.twig" %}
{% block body %}
    {% if shares %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Mes partages propriétaires</h4>
                <div class="table-responsive">
                    {% if shares %}
                    <table id="mytable" class="table table-bordred table-striped">
                        <thead>
                        <th style="color: white; text-align: center">Qui</th>
                        <th style="color: white; text-align: center">Jusqu'au</th>
                        <th style="color: white; text-align: center">Mot de passe</th>
                        <th style="color: white; text-align: center"></th>
                        <th style="color: white; text-align: center"></th>
                        </thead>
                        <tbody>
                        {% for share in shares %}
                            <tr style="background-color: white">
                                <td style="text-align: center">{{ share.user.pseudo }}</td>
                                <td style="text-align: center">{{ share.life|date('d/m/Y') }}</td>
                                {% if share.password %}
                                    <td style="text-align: center">Oui</td>
                                {% else %}
                                    <td style="text-align: center">Non</td>
                                {% endif %}
                                <td><p data-placement="top" data-toggle="tooltip" title="Editer"><a href="{{ path('app_update_share', { 'id': share.id }) }}"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></a></p></td>
                                <td><p data-placement="top" data-toggle="tooltip" title="Supprimer"><a href="{{ path('app_delete_share', { 'id': share.id }) }}"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></a></p></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% else %}
        <div class="row justify-content-center">
            <div class="col-md-2"></div>
            <div class="col-md-8 mt-3">
                <div class="jumbotron ">
                    <h1 class="display-4" style="text-align: center">Espace partagés</h1>
                    <p class="lead" style="text-align: center">Vous ne partagez votre espace avec personne</p>
                    <hr class="my-4" style="text-align: center">
                    <p style="text-align: center">N'hésitez plus, créer tout de suite une relation</p>
                    <p class="lead" style="text-align: center">
                        <a class="btn btn-primary btn-lg" href="{{ path('app_create_share') }}" role="button">Créer une relation</a>
                    </p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}


