{% extends "base.html.twig" %}
{% block body %}
    {% if shares %}
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    {% for share in shares %}
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <div>
                                    <img class="card-img-top" src="{{ asset('images/stripes-light.png') }}" height="60", width="155"/>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">{{ share.user.pseudo }} partage son espace avec vous</p>
                                    <p class="card-text">Lien actif jusqu'au {{ share.life|date('d/m/Y') }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a id="" onclick="checkPassword('{{ share.password }}', '{{ share.space.id }}')"><button type="button" class="btn btn-sm btn-outline-primary">Voir</button></a>
                                        </div>
                                        {% if share.password %}
                                            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="row justify-content-center">
            <div class="col=12 mt-3">
                <div class="jumbotron ">
                    <h1 class="display-4">Personne ne partage son espace avec vous</h1>
                    <p class="lead">Demandez à vos amis de partagez leur espace avec vous</p>
                    <hr class="my-4">
                    <p class="lead">
                    </p>
                </div>
            </div>
        </div>
    {% endif %}
    <script>
        function checkPassword(password, idSpace) {
            var passwordEntry = prompt("Veuillez indiquer le mot de passe pour accéder à l'espace");
            if(passwordEntry != password){
                alert("Mot de passe incorrect");
            }
            else {
                window.location = "{{ path('app_space_show', {'id': "2" }) }}";
            }

        }
    </script>
{% endblock %}


