{% extends "base.html.twig" %}

{% if errors %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="color: red; text-align: center">{{ errors }}</div>
    </div>
{% endif %}

{{ form_start(form) }}
<h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Connexion</h1>
<div class="row">
    <div class="col-md-4"></div>
    {{ form_widget(form.email, { 'attr': {'class': 'form-control col-md-4','placeholder':'Adresse Email'}}) }}
</div>
<br>
<div class="row">
    <div class="col-md-4"></div>
    {{ form_widget(form.password, { 'attr': {'class': 'form-control col-md-4 ','placeholder':'Mot de passe'}}) }}
</div>
<br>
<div class="row">
    <div class="col-md-4"></div>
    {{ form_widget(form.login, { 'attr': {'class': 'btn btn-lg btn-primary btn-block col-md-4'} }) }}
</div>

{{ form_end(form) }}


