{% extends "base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        {% if user.pathImg %}
                            <img src="{{ asset(user.pathImg) }}" height="300" width="200" alt=""/>
                        {% else  %}
                            <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
                        {% endif %}
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>{{ user.pseudo }}</h4>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i> {{ user.email }}
                            <br />
                            <i class="glyphicon glyphicon-cloud"></i> {{ (user.space.size/1000)|number_format(0) }} Mo
                            <br />
                            <i class="glyphicon glyphicon-ok"></i> {{ user.dateInscription|date('d/m/Y') }}
                        </p>
                        <div class="btn-group">
                            <a href="{{ path('app_update_user') }}"><button type="button" class="btn btn-sm btn-outline-primary">Modifier</button></a>
                            <a href="{{ path('app_delete_user') }}" onclick="return confirm('Êtes vous certain de vouloir supprimer votre compte ? Aucune récupération n\'est possible')"><button type="button" class="btn btn-sm btn-outline-danger">Supprimer</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


